# name: test-coverage
# on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]

# jobs:
#   coverage:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v4

#       - name: Set up R
#         uses: r-lib/actions/setup-r@v2

#       - name: Install dependencies
#         run: |
#           install.packages("remotes")
#           remotes::install_deps(dependencies = TRUE)
#         shell: Rscript {0}

#       - name: Run tests & collect coverage
#         run: |
#           Rscript -e 'covr::package_coverage(type = "tests")'
#           Rscript -e 'covr::codecov()'
#         shell: Rscript {0}

#       - name: Upload to Codecov
#         uses: codecov/codecov-action@v3
#         with:
#           token: ${{ secrets.CODECOV_TOKEN }}

name: test-coverage

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    strategy:
      matrix:
        r-version: ['4.3.3']

    steps:
    - uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev pandoc

    - name: Set up R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{ matrix.r-version }}

    - name: Install remotes
      run: install.packages("remotes", repos="https://cloud.r-project.org")
      shell: Rscript {0}

    - name: Install panelaggregation
      run: remotes::install_url("https://cran.r-project.org/src/contrib/Archive/panelaggregation/panelaggregation_0.1.tar.gz")
      shell: Rscript {0}

    - name: Install dsBaseClient
      run: remotes::install_github("datashield/dsBaseClient@master")
      shell: Rscript {0}

    - name: Install dsBase
      run: remotes::install_github("datashield/dsBase@master")
      shell: Rscript {0}

    - name: Install dsMatching
      run: remotes::install_github("roygusinow/dsMatching@master")
      shell: Rscript {0}

    - name: Install remaining deps & covr
      run: |
        install.packages(c("rcmdcheck","covr"), repos="https://cloud.r-project.org")
        remotes::install_deps(dependencies = TRUE)
      shell: Rscript {0}

    - name: Run coverage and upload to Codecov
      run: covr::codecov()
      shell: Rscript {0}

    # - name: Upload to Codecov
    #   uses: codecov/codecov-action@v3
    #   with:
    #     token: ${{ secrets.CODECOV_TOKEN }}
    #     fail_ci_if_error: true
